
<div class="content_post">
    <p class="nickname"><%= lesson.user.nickname %>先生の実践</p>
    <p class="subject"><span id="abc"><%= lesson.subject %></span></p>
    <div class="lesson">
        <div class="lesson_text_text"><span id="lesson_text"><%= lesson.text %></span></div>
        <div class="lesson_image"><%= image_tag lesson.image.variant(resize:'280x280'), class:lesson if lesson.image.attached? %></div>
    </div>
    
     <ul class="more_list">
        <li>
            <div class="container2">
                <%= link_to '詳細', "/lessons/#{lesson.id}", class: "btn-denim", method: :get %>
            </div>
        </li>
        <% if user_signed_in? && current_user.id == lesson.user_id %>
        <li>
            <div class="container2">
                 <%= link_to '編集', "/lessons/#{lesson.id}/edit", class: "btn-denim", method: :get %>
            </div>
        </li>
        <li>
            <div class="container2">
                 <%= link_to '削除', "/lessons/#{lesson.id}", class: "btn-denim", method: :delete %>
            </div>
        </li>
        <% end %>    
     </ul> 
</div>