<div class="contents">   
    <div class=lesson_box1>
        <% if user_signed_in? %>  
          <div class="user_nav grid-6">
            <span>〜<%= current_user.nickname %>さんでログイン中〜
                <div class="container">
                  <%= link_to "マイページ","/users/#{current_user.id}", class:'btn-box' %>
                  <%= link_to "投稿する","/lessons/new", class:'btn-box' %>
                </div>
            </span>
          </div>
        <% else %>
          <div class="grid-6">
            <h2>　投稿するにはログイン、またはユーザー登録をお願いします。</h2>
                <div class="container">
                  <%= link_to "ログイン", new_user_session_path, class: "btn-box" %>
                  <%= link_to "新規登録", new_user_registration_path, class: "btn-box" %>
                </div>
          </div>
        <% end %>
        
        <% @lessons.each do |lesson| %>
          <%= render partial: "lessons", locals: { lesson: lesson } %>
        <% end %>
        <%= paginate(@lessons) %>
    </div>
</div>